<div class="metric_content <%=@deliverables_header[:type]%>">
	<span class="header_title">
		<h2><%=l(:"bsc.title_deliverables").upcase%></h2>
	</span>
	<span class="glyphicon glyphicon-calendar"></span>
	<span class="header_text">
		<%= render_deliverables_header_text(@deliverables_header[:type], @deliverables_header[:number]) %>
	</span>
</div>