<div class="metric_content">
	<div class="header_title">
		<div class="metric_status <%=@deliverables_header[:status]%>">
			<h2><%=l(:"bsc.title_deliverables").upcase%></h2>
		</div>
	</div>
	<div class="header_text">
		<%=render_deliverables_header_text_reduced(@deliverables_header[:status], @deliverables_header[:number])%>
	</div>
</div>