<div class="metric_content">
	<div class="header_title">
		<div class="metric_status <%=@effort_header[:status]%>">
			<h2><%=l(:"bsc.title_effort").upcase%></h2>
		</div>
	</div>
	<div class="header_text">
		<%=render_effort_header_text_reduced(@effort_header[:status], @effort_header[:result])%>
	</div>
</div>