<div class="metric_content">
	<div class="header_title">
		<div class="metric_status <%=@income_expenses_header[:status]%>">
			<h2><%=l(:"bsc.title_income_expenses").upcase%></h2>
		</div>
	</div>
	<div class="header_text">
		<%=render_income_expenses_header_text_reduced(@income_expenses_header[:status], @income_expenses_header[:number])%>
	</div>
</div>