<div class="metric_content">
	<div class="header_title">
		<div class="metric_status <%=@mc_header[:status]%>">
			<h2><%=l(:"bsc.title_mc").upcase%></h2>
		</div>
	</div>
	<div class="header_text">
		<%=render_mc_header_text_reduced(@mc_header[:status], @mc_header[:mc], @mc_header[:mt])%>
	</div>
</div>