<div class="metric_content <%=@mc_header[:type]%>">
	<span class="header_title">
		<h2><%=l(:"bsc.title_mc").upcase%></h2>
	</span>
	<span class="glyphicon glyphicon-stats"></span>
	<span class="header_text">
		<%#= @mc_header[:text].html_safe %>
		<%= render_mc_header_text(@mc_header[:type], @mc_header[:mc], @mc_header[:mt]) %>
	</span>
</div>