<div class="metric_content">
	<div class="header_title">
		<div class="metric_status <%=@time_entries_header[:status]%>">
			<h2><%=l(:"bsc.title_time_entries").upcase%></h2>
		</div>
	</div>
	<div class="header_text">
		<%=render_time_entries_header_text_reduced(@time_entries_header[:status], @time_entries_header[:number])%>
	</div>
</div>