<div class="metric_content warn">
	<span class="header_title">
		<h2><%=l(:"bsc.title_time_entries").upcase%></h2>
	</span>
	<span class="glyphicon glyphicon-time"></span>
	<span class="header_text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan convallis euismod. Maecenas imperdiet et lorem sit amet tempor. Nulla iaculis placerat tortor sed pellentesque.
	</span>
</div>