<div class="tabs">
  <ul>
  	<% tabs.each do |t| %>
  		<% unless t[:hide].present? %>
		  	<li>
		  		<%= link_to t[:label], t[:url], :class => (selected == t[:name]) ? "selected" : "" %>
		    </li>
		<% end %>
	<% end %>
  </ul>
</div>