<%= render_header_message('balance') %>
<div class="row">
  	<div class="col-md-12">
	  	<!-- <div class="panel panel-default panel-table">
			<div class="panel-heading">
	        	<div class="panel_name"><%#=l(:"bsc.label_balance")%></div>
	      	</div>  
    	</div> -->
	</div>
</div>
